<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment-9</title>
</head>
<body>
 {% include('menu.html') %}

{#search form#}
 <h2> search for users</h2>
<form action="/assignment9" method="GET">
        Email: <input name="email" type="email">
        <br><br>
        <input type="submit">
    </form>

{% if u_name %}
        <h2>User search from dict  :</h2>
        <p> name: {{ u_name }} <br>
            email: {{ u_email }}
        </p>
    {% endif %}


{% if user_list %}
        <h2>List of users:</h2>
            {%  for key, value in user_list.items() %}
            <li>
                {{ key }}: <b>{{ value.get('name') }}</b> ({{ value.get('email') }})
            </li>
            {% endfor %}
        {% endif %}

{#registresion form#}
 <h2>Sign up</h2>
        {% if session.username %}
        <h2>Welcome back {{ session.username }}!</h2>
            <form action="/logout">
                <input type="submit" value="Log out">
            </form>
        {% else %}
            <form action="/assignment9" method="POST"> <!-- the action is defined as a route in app.py -->
                username: <input name="username" type="text">
                <br><br>
                Password: <input name="password" type="password">
                <br><br>
                <input type="submit">
            </form>
        {% endif %}

</body>
</html>